<h1 style="text-align: center">Register Page</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field>
      <input matInput placeholder="full Name" formControlName="name" />
      <mat-hint *ngIf="registerForm.get('name').errors"
        >Full Name is required</mat-hint
      >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Your Username" formControlName="username" />
      <mat-hint *ngIf="registerForm.get('username').errors"
        >User Name is required</mat-hint
      >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder=" Your Email" formControlName="email" />
      <mat-hint *ngIf="registerForm.get('email').errors"
        >Email is required</mat-hint
      >
      <span *ngIf="email.invalid && email.touched" class="red-error">
        Email field is not Valid</span
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <mat-hint *ngIf="registerForm.get('password').errors"
        >Password is required</mat-hint
      >
      <span
        *ngIf="
          registerForm.get('password').touched &&
          registerForm.get('password').hasError('passwordInvalid')
        "
        class="red-error"
        >Password is not containing a number</span
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder=" Confirm Password"
        formControlName="passwordConfirm"
      />
      <mat-hint *ngIf="registerForm.hasError('passwordNotMatcing')">
        Confirm Password is required</mat-hint
      >
      <span
        *ngIf="
          registerForm.get('passwordConfirm').touched &&
          registerForm.hasError('passwordNotMatcing')
        "
        class="red-error"
        >Password is not Matching</span
      >
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      [disabled]="registerForm.invalid"
      type="submit"
    >
      Register
    </button>
  </div>
</form>

<!-- <div>
  <h3 *ngIf="registerForm.invalid && registerForm.touched">
    Form contains following errors
  </h3>
  <small *ngIf="registerForm.get('password').hasError('passwordInvalid')"
    >Password is not containing a number</small
  >
  <br />
  <small *ngIf="registerForm.hasError('passwordNotMatcing')"
    >Password is not Matching</small
  >
</div> -->
